@model Northwind.Entities.ShippingDetails

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Checkout</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel();
    <input type="submit" value="Complate Checkout" />
}